<style type="text/css">
	.nav-bar {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
	}
	a.nav-icon:hover {
		color: #EE0000;
	}
	a.nav-icon {
		text-decoration: none;
		color: #ccc;
		font-size: 1.125rem;
		padding: 0 0.25em;
	}

	#footer.asciidoc {
		background-color: #fff;
		text-align: right;
	}
	#footer.asciidoc section.meta {
		font-size: 0.825rem;
	}
	.meta .author, .meta .post-info {
		margin-bottom: 5px;
	}
	#footer.asciidoc a {
		text-decoration: none;
		color: #EE0000;
	}
	#footer.asciidoc a:visited {
		color: #B22222;
		text-decoration: none;
	}

@media print {
	.nav-bar,#footer.asciidoc,#nav-menu-bottom,.c-menu,.c-mask { display: none; }
	html,body {
		font-family: MuseoSans,Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode","Microsoft YaHei",'PingFang SC',Verdana,sans-serif;
	}
}
/**---------------------------------------------------**/
	.nav-menu-bottom {
		position: fixed;
		bottom: 1em;
		right: 1em;
		z-index: 1000;
	}
	.nav-menu-bottom .nav-item {
		margin-top: 0.1em;
		cursor: pointer;
		font-size: 1.25em;
		display: block;
		padding: 0.25em 0.5em;
		background-color: #ddd;
	}
	
	/**---------------------------------------------------**/
	.c-menu {
	  position: fixed;
	  z-index: 2000;
	  background-color: #FFF;
	 
	}

	.c-menu__items {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}

	/**
	 * Close button resets.
	 */
	.c-menu__close {
	  color: #fff;
	  background-color: #3184a1;
	  font-size: 14px;
	  border: none;
	  box-shadow: none;
	  border-radius: none;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  cursor: pointer;
	}

	/**
	 * Close button resets.
	 */
	.c-menu__close:focus {
	  outline: none;
	}

	/**
	 * Body states.
	 * When a menu is active, we want to hide the overflows on the body to prevent
	 * awkward document scrolling.
	 */
	body.has-active-menu {
	 /* overflow: hidden;*/
	}

	/**
	 * Mask component
	 */
	.c-mask {
	  position: fixed;
	  z-index: 1900;
	  top: 0;
	  left: 0;
	  overflow: hidden;
	  width: 0;
	  height: 0;
	  background-color: #000;
	  opacity: 0;
	  transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
	}

	.c-mask.is-active {
	  width: 100%;
	  height: 100%;
	  opacity: 0.2;
	  transition: opacity 0.1s;
	}

	/**---------------------------------------------------**/
	.c-menu--slide-left,
	.c-menu--slide-right,
	.c-menu--push-left,
	.c-menu--push-right {
	  width: 100%;
	  height: 100%;
	  overflow-y: scroll;
	}

	@media all and (min-width: 320px) {
	  .c-menu--slide-left,
	  .c-menu--slide-right,
	  .c-menu--push-left,
	  .c-menu--push-right {
		width: 300px;
	  }
	}

	/**---------------------------------------------------**/
	.c-menu--slide-left,
	.c-menu--push-left {
	  top: 0;
	  left: 0;
	  transform: translateX(-100%);
	}

	@media all and (min-width: 320px) {
	  .c-menu--slide-left,
	  .c-menu--push-left {
		transform: translateX(-300px);
	  }
	}

	.c-menu--slide-left.is-active,
	.c-menu--push-left.is-active {
	  transform: translateX(0);
	}
	/**---------------------------------------------------**/
	.c-menu--slide-right,
	.c-menu--push-right {
	  top: 0;
	  right: 0;
	  transform: translateX(100%);
	}

	@media all and (min-width: 320px) {
	  .c-menu--slide-right,
	  .c-menu--push-right {
		transform: translateX(300px);
	  }
	}

	.c-menu--slide-right.is-active,
	.c-menu--push-right.is-active {
	  transform: translateX(0);
	}
	/**---------------------------------------------------**/
	nav#c-menu--slide-right.is-active {
		padding: 0 1em;
		width: auto;
	}
</style>
<!-- 浮动菜单 -->
<div id="nav-bar" class="nav-bar">
	<a href="/" class="nav-icon" title="Go to homepage">
		<i class="fa fa-home"></i>
	</a>
	<a href="/categories" class="nav-icon" title="Category">
		<i class="fa fa-bars"></i>
	</a>
	<a href="/tags" class="nav-icon" title="Tag Cloud">
		<i class="fa fa-tags"></i>
	</a>
	<a href="/about" class="nav-icon" title="About">
		<i class="fa fa-user"></i>
	</a>
	<a href="/feed" class="nav-icon" title="Subscribe by RSS">
		<i class="fa fa-rss"></i>
	</a>
</div>
<div id="nav-menu-bottom" class="nav-menu-bottom">
	<div id="toggle-toc" class=" nav-item" title="目录">
		<i class="fa fa-bars"></i>
	</div>
	<div id="to-comments" class="to-comments nav-item" title="评论">
		<i class="fa fa-commenting-o"></i>
	</div>
	<div class="back-to-top nav-item" title="返回顶部">
		<i class="fa fa-angle-up" style="padding-left:0.1em"></i>
	</div>
	
</div>

<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right"></nav>

<script src="/media/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
<!--
	(function(window) {

	  'use strict';

	  /**
	   * Extend Object helper function.
	   */
	  function extend(a, b) {
		for(var key in b) { 
		  if(b.hasOwnProperty(key)) {
			a[key] = b[key];
		  }
		}
		return a;
	  }

	  /**
	   * Each helper function.
	   */
	  function each(collection, callback) {
		for (var i = 0; i < collection.length; i++) {
		  var item = collection[i];
		  callback(item);
		}
	  }

	  /**
	   * Menu Constructor.
	   */
	  function Menu(options) {
		this.options = extend({}, this.options);
		extend(this.options, options);
		this._init();
	  }

	  /**
	   * Menu Options.
	   */
	  Menu.prototype.options = {
		//wrapper: '#o-wrapper',          // The content wrapper
		type: 'slide-left',             // The menu type
		menuOpenerClass: '.c-button',   // The menu opener class names (i.e. the buttons)
		maskId: '#c-mask'               // The ID of the mask
	  };

	  /**
	   * Initialise Menu.
	   */
	  Menu.prototype._init = function() {
		this.body = document.body;
		//this.wrapper = document.querySelector(this.options.wrapper);
		this.mask = document.querySelector(this.options.maskId);
		this.menu = document.querySelector('#c-menu--' + this.options.type);
		//this.closeBtn = this.menu.querySelector('.c-menu__close');
		this.menuOpeners = document.querySelectorAll(this.options.menuOpenerClass);
		this._initEvents();
	  };

	  /**
	   * Initialise Menu Events.
	   */
	  Menu.prototype._initEvents = function() {
		// Event for clicks on the close button inside the menu.
		/*this.closeBtn.addEventListener('click', function(e) {
		  e.preventDefault();
		  this.close();
		}.bind(this));*/

		// Event for clicks on the mask.
		this.mask.addEventListener('click', function(e) {
		  e.preventDefault();
		  this.close();
		}.bind(this));
	  };

	  /**
	   * Open Menu.
	   */
	  Menu.prototype.open = function() {
		this.body.classList.add('has-active-menu');
	   //this.wrapper.classList.add('has-' + this.options.type);
		this.menu.classList.add('is-active');
		this.mask.classList.add('is-active');
		this.disableMenuOpeners();

		//$('#nav-menu-bottom').hide()
	  };

	  /**
	   * Close Menu.
	   */
	  Menu.prototype.close = function() {
		this.body.classList.remove('has-active-menu');
		//this.wrapper.classList.remove('has-' + this.options.type);
		this.menu.classList.remove('is-active');
		this.mask.classList.remove('is-active');
		this.enableMenuOpeners();

		//$('#nav-menu-bottom').show();
	  };

	  /**
	   * Disable Menu Openers.
	   */
	  Menu.prototype.disableMenuOpeners = function() {
		each(this.menuOpeners, function(item) {
		  item.disabled = true;
		});
	  };

	  /**
	   * Enable Menu Openers.
	   */
	  Menu.prototype.enableMenuOpeners = function() {
		each(this.menuOpeners, function(item) {
		  item.disabled = false;
		});
	  };

	  /**
	   * Add to global namespace.
	   */
	  window.Menu = Menu;

	})(window);

	$('#c-menu--slide-right').append($('#toc').clone());
	

	var slideRight = new Menu({
	  type: 'slide-right',
	  menuOpenerClass: '.c-button',
	  maskId: '#c-mask'
	});

	var slideRightBtn = document.querySelector('#toggle-toc');

	slideRightBtn.addEventListener('click', function(e) {
	  e.preventDefault;
	  if (!$('#c-menu--slide-right').hasClass('is-active')) 
		slideRight.open();
	  else
		slideRight.close(); 
	});
	
	
	$('#c-menu--slide-right #toc a').click(function(){
		slideRight.close();
	})

	$('.back-to-top').click(function(){
		$('html, body').animate({scrollTop : 0},500);
		return false;
	});
	$('#to-comments').click(function(){
		$('html, body').animate({scrollTop :  $("#disqus_thread").offset().top},500);
		return false;
	})



//console.log('{{ page.next.title }}')
//console.log('{{ page.previous.title }} || {{ page.previous.url }}' )

//-->
</script>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55157705-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->