<link href="/feed/" rel="alternate" title="Grey" type="application/atom+xml" />
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="icon" href="/favicon.ico"/>
<link href='/media/css/googlefonts.css' rel='stylesheet'>
{{ content }}

{% include asiidoc-foot.html %}

<!-- 底部信息 -->
<div id="footer" class="asciidoc">
	<section class="meta">
	<hr/>

	<div class="author">
	  <a href="http://greycode.github.io/">{{ site.author }}</a> - Yet another programmer :-)
	</div>
	<div class="post-info">
	<span class="license">
	  Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">(CC) BY-NC-SA</a>
	</span>
	{% if page.categories %}
	<span class="categories">
	  in categories
	  {% for cat in page.categories %}
	  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
	  {% endfor %}
	</span>
	{% endif %}
	{% if page.tags %}
	<span class="tags">
	  tagged with 
	  {% for tag in page.tags %}
	  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
	  {% endfor %}
	</span>
	{% endif %}
	</div>
	<span class="time">
	  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
	</span>
	</section>


<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<a class="jiathis_button_douban"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_fb"></a>
	<a class="jiathis_button_twitter"></a>
	<a class="jiathis_button_googleplus"></a>
	<a class="jiathis_button_ydnote"></a>
	<a href="http://www.jiathis.com/share?uid=2082529" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2082529" charset="utf-8"></script>
<!-- JiaThis Button END -->

<!-- DISQUS BEGIN -->
<div id="disqus_thread"></div>
<script>
	var disqus_config = function () {
		this.page.url = 'http://greycode.github.io/' + '{{ page.url }}'; 
		this.page.identifier = '{{ page.uuid }}'; 
	};

	$(document).ready(function(){
		var d = document, s = d.createElement('script');

		s.src = '//greycode.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//greycode.disqus.com/count.js" async></script>
<!-- DISQUS END -->

</div>


